<div style="display: flex;justify-content: center;">
    <table style="border: 1px solid; width: 60%; margin-top: 20px;">

        <tr style="border: 1px solid;">
            <th style="background-color: cornflowerblue; border: 1px solid; padding: 0.5rem;">parameters</th>
            <th style="background-color: cornflowerblue; border: 1px solid; padding: 0.5rem;">R Phase</th>
        </tr>
        <tr style="border: 1px solid;">
            <td style="text-align: center;border: 1px solid;">Voltage Status</td>
            <td style="text-align: center;border: 1px solid;">{{singleData.r_volt_status}}</td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="text-align: center;border: 1px solid;">MCB Status</td>
            <td style="text-align: center;border: 1px solid;">{{singleData.r_mcb_status}}</td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="text-align: center;border: 1px solid;">Load Status</td>
            <td style="text-align: center;border: 1px solid;">{{singleData.r_load_status}}</td>
        </tr>
        <tr style="border: 1px solid;">
            <td style="text-align: center;border: 1px solid;">PF Status</td>
            <td style="text-align: center;border: 1px solid;">{{singleData.r_pf_status}}</td>
        </tr>
    </table>
    <div></div>
</div>


